@using NextGenLife.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @*<h2>@ViewBag.Title.</h2>*@

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*<h4>Create a new account.</h4>
                    <hr />*@
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @*<div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>*@


                <!-- contact block -->
                <section class="w3l-contact py-5" id="contact">
                    <div class="container py-md-5 py-4">
                        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                            <p class="text-uppercase">Log In </p>
                            <h3 class="title-style">Log In</h3>
                        </div>
                        <div class="row contact-block">
                            <div class="col-md-7 contact-right">
                                <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                                    <div class="input-grids">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Email" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                                @*<input type="text" name="w3lName" id="w3lName" placeholder="Your Name"
                class="contact-input" required="" />*@
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                                @*<input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email"
                class="contact-input" required="" />*@
                                            </div>
                                        </div>
                                        @*@Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Gender" } })
            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })


            @Html.EditorFor(model => model.StudentIdNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Id Number" } })
            @Html.ValidationMessageFor(model => model.StudentIdNumber, "", new { @class = "text-danger" })


            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

        </div>*@
                                        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>*@

                                        <div class="text-start">
                                            <button type="submit" value="Register" class="btn btn-style btn-style-3">Register</button>
                                        </div>
                                        <p>
                                            @Html.ActionLink("Register as a new user", "Register")
                                        </p>
</form>
                            </div>

                        </div>
                    </div>
                </section>


                <!-- Js scripts -->
                <!-- move top -->
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
                </button>
                <script>
                    // When the user scrolls down 20px from the top of the document, show the button
                    window.onscroll = function () {
                        scrollFunction()
                    };

                    function scrollFunction() {
                        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                            document.getElementById("movetop").style.display = "block";
                        } else {
                            document.getElementById("movetop").style.display = "none";
                        }
                    }

                    // When the user clicks on the button, scroll to the top of the document
                    function topFunction() {
                        document.body.scrollTop = 0;
                        document.documentElement.scrollTop = 0;
                    }
                </script>
                <!-- //move top -->
                <!-- common jquery plugin -->
                <script src="assets/js/jquery-3.3.1.min.js"></script>
                <!-- //common jquery plugin -->
                <!-- theme switch js (light and dark)-->
                <script src="assets/js/theme-change.js"></script>
                <!-- //theme switch js (light and dark)-->
                <!-- MENU-JS -->
                <script>
                    $(window).on("scroll", function () {
                        var scroll = $(window).scrollTop();

                        if (scroll >= 80) {
                            $("#site-header").addClass("nav-fixed");
                        } else {
                            $("#site-header").removeClass("nav-fixed");
                        }
                    });

                    //Main navigation Active Class Add Remove
                    $(".navbar-toggler").on("click", function () {
                        $("header").toggleClass("active");
                    });
                    $(document).on("ready", function () {
                        if ($(window).width() > 991) {
                            $("header").removeClass("active");
                        }
                        $(window).on("resize", function () {
                            if ($(window).width() > 991) {
                                $("header").removeClass("active");
                            }
                        });
                    });
                </script>
                <!-- //MENU-JS -->
                <!-- disable body scroll which navbar is in active -->
                <script>
                    $(function () {
                        $('.navbar-toggler').click(function () {
                            $('body').toggleClass('noscroll');
                        })
                    });
                </script>
                <!-- //disable body scroll which navbar is in active -->
                <!-- bootstrap -->
                <script src="assets/js/bootstrap.min.js"></script>
            }

            @*@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }*@

        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>



