@model IEnumerable<NextGenLife.Models.ApprovedPolicy>
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

    var message = TempData["AlertMessage"] ?? string.Empty; }


@*<h2>Payment</h2>*@
<head>
    @*<title>Electronics Mart - Ecommerce Category
        <link href="~/assets/Payment/css/flexslider.css" rel="stylesheet" /> Bootstrap Responsive Web Template | Payment :: w3layouts</title>*@
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom-Files -->
    <link href="~/assets/Payment/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/assets/Payment/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/assets/Payment/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/assets/Payment/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/assets/Payment/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <!-- //web fonts -->
</head>


<link href="~/assets/Payment/css/bootstrap.css" rel="stylesheet" />
<link href="~/assets/Payment/css/creditly.css" rel="stylesheet" />
<link href="~/assets/Payment/css/easy-responsive-tabs.css" rel="stylesheet" />
<link href="~/assets/Payment/css/flexslider.css" rel="stylesheet" />
<link href="~/assets/Payment/css/menu.css" rel="stylesheet" />
<link href="~/assets/Payment/css/popuo-box.css" rel="stylesheet" />
<link href="~/assets/Payment/css/style.css" rel="stylesheet" />
<link href="~/assets/Payment/css/fontawesome-all.css" rel="stylesheet" />
<!--
Author: W3layout
Author URL: http://w3layouts.com
-->
@foreach (var item in Model)
    {

        <div class="form-horizontal">
            @*<h4>Payment</h4>
                <hr />*@
            @*@Html.HiddenFor(model => model.PaymenyAmount)
                @Html.HiddenFor(model => model.PaymentPK)
                @Html.HiddenFor(model => model.Paymeny)
                @Html.HiddenFor(model => model.PaymentPK)
                @Html.HiddenFor(model => model.ClassFee)*@
            @*@Html.HiddenFor(model => model.CardName)*@
            @*@Html.HiddenFor(model => model.Phase)
                @Html.HiddenFor(model => model.screamclassSUBJECTPC)
                @Html.HiddenFor(model => model.screamclassSUBJECTR1)
                @Html.HiddenFor(model => model.screamclassSUBJECTPR2)
                @Html.HiddenFor(model => model.screamclassSUBJECTPR3)
                @Html.HiddenFor(model => model.screamclassSUBJECTPR4)
                @Html.HiddenFor(model => model.Grade)
                @Html.HiddenFor(model => model.StudentSecondLanguageR)
                @Html.HiddenFor(model => model.StudentHomeLanguageR)
                @Html.HiddenFor(model => model.Amount)
                @Html.HiddenFor(model => model.PayStatus)*@












            <body>
                <script src="https://m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
                <script>
                    (function () {
                        if (typeof _bsa !== 'undefined' && _bsa) {
                            // format, zoneKey, segment:value, options
                            _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
                        }
                    })();
                </script>
                <script>
                    (function () {
                        if (typeof _bsa !== 'undefined' && _bsa) {
                            // format, zoneKey, segment:value, options
                            _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
                        }
                    })();
                </script>
                <script>
                    (function () {
                        if (typeof _bsa !== 'undefined' && _bsa) {
                            // format, zoneKey, segment:value, options
                            _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
                        }
                    })();
                </script>
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src='https://www.googletagmanager.com/gtag/js?id=G-98H8KRKT85'></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag() { dataLayer.push(arguments); }
                    gtag('js', new Date());

                    gtag('config', 'G-98H8KRKT85');
                </script>

                <meta name="robots" content="noindex">

                <link rel="stylesheet" href="../../../../../../assests/css/font-awesome.min.css">
                <!-- New toolbar-->
                <style>
                        * {
                            box-sizing: border-box;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
                        }


                        #w3lDemoBar.w3l-demo-bar {
                            top: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 9999;
                            padding: 40px 5px;
                            padding-top: 70px;
                            margin-bottom: 70px;
                            background: #0D1326;
                            border-top-left-radius: 9px;
                            border-bottom-left-radius: 9px;
                        }

                            #w3lDemoBar.w3l-demo-bar a {
                                display: block;
                                color: #e6ebff;
                                text-decoration: none;
                                line-height: 24px;
                                opacity: .6;
                                margin-bottom: 20px;
                                text-align: center;
                            }

                            #w3lDemoBar.w3l-demo-bar span.w3l-icon {
                                display: block;
                            }

                            #w3lDemoBar.w3l-demo-bar a:hover {
                                opacity: 1;
                            }

                            #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
                                color: #e6ebff;
                            }

                            #w3lDemoBar.w3l-demo-bar .responsive-icons {
                                margin-top: 30px;
                                border-top: 1px solid #41414d;
                                padding-top: 40px;
                            }

                            #w3lDemoBar.w3l-demo-bar .demo-btns {
                                border-top: 1px solid #41414d;
                                padding-top: 30px;
                            }

                            #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
                                font-size: 26px;
                            }

                            #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
                                margin-bottom: 0;
                            }

                        .toggle-right-sidebar span {
                            background: #0D1326;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            color: #e6ebff;
                            border-radius: 50px;
                            font-size: 26px;
                            cursor: pointer;
                            opacity: .5;
                        }

                        .pull-right {
                            float: right;
                            position: fixed;
                            right: 0px;
                            top: 70px;
                            width: 90px;
                            z-index: 99999;
                            text-align: center;
                        }
                        /* ============================================================
                    RIGHT SIDEBAR SECTION
                    ============================================================ */

                        #right-sidebar {
                            width: 90px;
                            position: fixed;
                            height: 100%;
                            z-index: 1000;
                            right: 0px;
                            top: 0;
                            margin-top: 60px;
                            -webkit-transition: all .5s ease-in-out;
                            -moz-transition: all .5s ease-in-out;
                            -o-transition: all .5s ease-in-out;
                            transition: all .5s ease-in-out;
                            overflow-y: auto;
                        }


                        /* ============================================================
                    RIGHT SIDEBAR TOGGLE SECTION
                    ============================================================ */

                        .hide-right-bar-notifications {
                            margin-right: -300px !important;
                            -webkit-transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                            -o-transition: all .3s ease-in-out;
                            transition: all .3s ease-in-out;
                        }



                        media (max-width: 992px) {
                            #w3lDemoBar.w3l-demo-bar a.desktop-mode

                        {
                            display: none;
                        }

                        }

                        media (max-width: 767px) {
                            #w3lDemoBar.w3l-demo-bar a.tablet-mode

                        {
                            display: none;
                        }

                        }

                        media (max-width: 568px) {
                            #w3lDemoBar.w3l-demo-bar a.mobile-mode

                        {
                            display: none;
                        }

                        #w3lDemoBar.w3l-demo-bar .responsive-icons {
                            margin-top: 0px;
                            border-top: none;
                            padding-top: 0px;
                        }

                        #right-sidebar, .pull-right {
                            width: 90px;
                        }

                        #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
                            margin-bottom: 0;
                        }
                        }
                </style>



        </div>

        <!-- top-header -->
        <!-- Button trigger modal(select-location) -->
        <div id="small-dialog1" class="mfp-hide">
            <div class="select-city">
                <h3>
                    <i class="fas fa-map-marker"></i> Please Select Your Location
                </h3>
                <select class="list_of_cities">
                    <optgroup label="Popular Cities">
                        <option selected style="display:none;color:#eee;">Select City</option>
                        <option>Birmingham</option>
                        <option>Anchorage</option>
                        <option>Phoenix</option>
                        <option>Little Rock</option>
                        <option>Los Angeles</option>
                        <option>Denver</option>
                        <option>Bridgeport</option>
                        <option>Wilmington</option>
                        <option>Jacksonville</option>
                        <option>Atlanta</option>
                        <option>Honolulu</option>
                        <option>Boise</option>
                        <option>Chicago</option>
                        <option>Indianapolis</option>
                    </optgroup>
                    <optgroup label="Alabama">
                        <option>Birmingham</option>
                        <option>Montgomery</option>
                        <option>Mobile</option>
                        <option>Huntsville</option>
                        <option>Tuscaloosa</option>
                    </optgroup>
                    <optgroup label="Alaska">
                        <option>Anchorage</option>
                        <option>Fairbanks</option>
                        <option>Juneau</option>
                        <option>Sitka</option>
                        <option>Ketchikan</option>
                    </optgroup>
                    <optgroup label="Arizona">
                        <option>Phoenix</option>
                        <option>Tucson</option>
                        <option>Mesa</option>
                        <option>Chandler</option>
                        <option>Glendale</option>
                    </optgroup>
                    <optgroup label="Arkansas">
                        <option>Little Rock</option>
                        <option>Fort Smith</option>
                        <option>Fayetteville</option>
                        <option>Springdale</option>
                        <option>Jonesboro</option>
                    </optgroup>
                    <optgroup label="California">
                        <option>Los Angeles</option>
                        <option>San Diego</option>
                        <option>San Jose</option>
                        <option>San Francisco</option>
                        <option>Fresno</option>
                    </optgroup>
                    <optgroup label="Colorado">
                        <option>Denver</option>
                        <option>Colorado</option>
                        <option>Aurora</option>
                        <option>Fort Collins</option>
                        <option>Lakewood</option>
                    </optgroup>
                    <optgroup label="Connecticut">
                        <option>Bridgeport</option>
                        <option>New Haven</option>
                        <option>Hartford</option>
                        <option>Stamford</option>
                        <option>Waterbury</option>
                    </optgroup>
                    <optgroup label="Delaware">
                        <option>Wilmington</option>
                        <option>Dover</option>
                        <option>Newark</option>
                        <option>Bear</option>
                        <option>Middletown</option>
                    </optgroup>
                    <optgroup label="Florida">
                        <option>Jacksonville</option>
                        <option>Miami</option>
                        <option>Tampa</option>
                        <option>St. Petersburg</option>
                        <option>Orlando</option>
                    </optgroup>
                    <optgroup label="Georgia">
                        <option>Atlanta</option>
                        <option>Augusta</option>
                        <option>Columbus</option>
                        <option>Savannah</option>
                        <option>Athens</option>
                    </optgroup>
                    <optgroup label="Hawaii">
                        <option>Honolulu</option>
                        <option>Pearl City</option>
                        <option>Hilo</option>
                        <option>Kailua</option>
                        <option>Waipahu</option>
                    </optgroup>
                    <optgroup label="Idaho">
                        <option>Boise</option>
                        <option>Nampa</option>
                        <option>Meridian</option>
                        <option>Idaho Falls</option>
                        <option>Pocatello</option>
                    </optgroup>
                    <optgroup label="Illinois">
                        <option>Chicago</option>
                        <option>Aurora</option>
                        <option>Rockford</option>
                        <option>Joliet</option>
                        <option>Naperville</option>
                    </optgroup>
                    <optgroup label="Indiana">
                        <option>Indianapolis</option>
                        <option>Fort Wayne</option>
                        <option>Evansville</option>
                        <option>South Bend</option>
                        <option>Hammond</option>
                    </optgroup>
                    <optgroup label="Iowa">
                        <option>Des Moines</option>
                        <option>Cedar Rapids</option>
                        <option>Davenport</option>
                        <option>Sioux City</option>
                        <option>Waterloo</option>
                    </optgroup>
                    <optgroup label="Kansas">
                        <option>Wichita</option>
                        <option>Overland Park</option>
                        <option>Kansas City</option>
                        <option>Topeka</option>
                        <option>Olathe </option>
                    </optgroup>
                    <optgroup label="Kentucky">
                        <option>Louisville</option>
                        <option>Lexington</option>
                        <option>Bowling Green</option>
                        <option>Owensboro</option>
                        <option>Covington</option>
                    </optgroup>
                    <optgroup label="Louisiana">
                        <option>New Orleans</option>
                        <option>Baton Rouge</option>
                        <option>Shreveport</option>
                        <option>Metairie</option>
                        <option>Lafayette</option>
                    </optgroup>
                    <optgroup label="Maine">
                        <option>Portland</option>
                        <option>Lewiston</option>
                        <option>Bangor</option>
                        <option>South Portland</option>
                        <option>Auburn</option>
                    </optgroup>
                    <optgroup label="Maryland">
                        <option>Baltimore</option>
                        <option>Frederick</option>
                        <option>Rockville</option>
                        <option>Gaithersburg</option>
                        <option>Bowie</option>
                    </optgroup>
                    <optgroup label="Massachusetts">
                        <option>Boston</option>
                        <option>Worcester</option>
                        <option>Springfield</option>
                        <option>Lowell</option>
                        <option>Cambridge</option>
                    </optgroup>
                    <optgroup label="Michigan">
                        <option>Detroit</option>
                        <option>Grand Rapids</option>
                        <option>Warren</option>
                        <option>Sterling Heights</option>
                        <option>Lansing</option>
                    </optgroup>
                    <optgroup label="Minnesota">
                        <option>Minneapolis</option>
                        <option>St. Paul</option>
                        <option>Rochester</option>
                        <option>Duluth</option>
                        <option>Bloomington</option>
                    </optgroup>
                    <optgroup label="Mississippi">
                        <option>Jackson</option>
                        <option>Gulfport</option>
                        <option>Southaven</option>
                        <option>Hattiesburg</option>
                        <option>Biloxi</option>
                    </optgroup>
                    <optgroup label="Missouri">
                        <option>Kansas City</option>
                        <option>St. Louis</option>
                        <option>Springfield</option>
                        <option>Independence</option>
                        <option>Columbia</option>
                    </optgroup>
                    <optgroup label="Montana">
                        <option>Billings</option>
                        <option>Missoula</option>
                        <option>Great Falls</option>
                        <option>Bozeman</option>
                        <option>Butte-Silver Bow</option>
                    </optgroup>
                    <optgroup label="Nebraska">
                        <option>Omaha</option>
                        <option>Lincoln</option>
                        <option>Bellevue</option>
                        <option>Grand Island</option>
                        <option>Kearney</option>
                    </optgroup>
                    <optgroup label="Nevada">
                        <option>Las Vegas</option>
                        <option>Henderson</option>
                        <option>North Las Vegas</option>
                        <option>Reno</option>
                        <option>Sunrise Manor</option>
                    </optgroup>
                    <optgroup label="New Hampshire">
                        <option>Manchesters</option>
                        <option>Nashua</option>
                        <option>Concord</option>
                        <option>Dover</option>
                        <option>Rochester</option>
                    </optgroup>
                    <optgroup label="New Jersey">
                        <option>Newark</option>
                        <option>Jersey City</option>
                        <option>Paterson</option>
                        <option>Elizabeth</option>
                        <option>Edison</option>
                    </optgroup>
                    <optgroup label="New Mexico">
                        <option>Albuquerque</option>
                        <option>Las Cruces</option>
                        <option>Rio Rancho</option>
                        <option>Santa Fe</option>
                        <option>Roswell</option>
                    </optgroup>
                    <optgroup label="New York">
                        <option>New York</option>
                        <option>Buffalo</option>
                        <option>Rochester</option>
                        <option>Yonkers</option>
                        <option>Syracuse</option>
                    </optgroup>
                    <optgroup label="North Carolina">
                        <option>Charlotte</option>
                        <option>Raleigh</option>
                        <option>Greensboro</option>
                        <option>Winston-Salem</option>
                        <option>Durham</option>
                    </optgroup>
                    <optgroup label="North Dakota">
                        <option>Fargo</option>
                        <option>Bismarck</option>
                        <option>Grand Forks</option>
                        <option>Minot</option>
                        <option>West Fargo</option>
                    </optgroup>
                    <optgroup label="Ohio">
                        <option>Columbus</option>
                        <option>Cleveland</option>
                        <option>Cincinnati</option>
                        <option>Toledo</option>
                        <option>Akron</option>
                    </optgroup>
                    <optgroup label="Oklahoma">
                        <option>Oklahoma City</option>
                        <option>Tulsa</option>
                        <option>Norman</option>
                        <option>Broken Arrow</option>
                        <option>Lawton</option>
                    </optgroup>
                    <optgroup label="Oregon">
                        <option>Portland</option>
                        <option>Eugene</option>
                        <option>Salem</option>
                        <option>Gresham</option>
                        <option>Hillsboro</option>
                    </optgroup>
                    <optgroup label="Pennsylvania">
                        <option>Philadelphia</option>
                        <option>Pittsburgh</option>
                        <option>Allentown</option>
                        <option>Erie</option>
                        <option>Reading</option>
                    </optgroup>
                    <optgroup label="Rhode Island">
                        <option>Providence</option>
                        <option>Warwick</option>
                        <option>Cranston</option>
                        <option>Pawtucket</option>
                        <option>East Providence</option>
                    </optgroup>
                    <optgroup label="South Carolina">
                        <option>Columbia</option>
                        <option>Charleston</option>
                        <option>North Charleston</option>
                        <option>Mount Pleasant</option>
                        <option>Rock Hill</option>
                    </optgroup>
                    <optgroup label="South Dakota">
                        <option>Sioux Falls</option>
                        <option>Rapid City</option>
                        <option>Aberdeen</option>
                        <option>Brookings</option>
                        <option>Watertown</option>
                    </optgroup>
                    <optgroup label="Tennessee">
                        <option>Memphis</option>
                        <option>Nashville</option>
                        <option>Knoxville</option>
                        <option>Chattanooga</option>
                        <option>Clarksville</option>
                    </optgroup>
                    <optgroup label="Texas">
                        <option>Houston</option>
                        <option>San Antonio</option>
                        <option>Dallas</option>
                        <option>Austin</option>
                        <option>Fort Worth</option>
                    </optgroup>
                    <optgroup label="Utah">
                        <option>Salt Lake City</option>
                        <option>West Valley City</option>
                        <option>Provo</option>
                        <option>West Jordan</option>
                        <option>Orem</option>
                    </optgroup>
                    <optgroup label="Vermont">
                        <option>Burlington</option>
                        <option>Essex</option>
                        <option>South Burlington</option>
                        <option>Colchester</option>
                        <option>Rutland</option>
                    </optgroup>
                    <optgroup label="Virginia">
                        <option>Virginia Beach</option>
                        <option>Norfolk</option>
                        <option>Chesapeake</option>
                        <option>Arlington</option>
                        <option>Richmond</option>
                    </optgroup>
                    <optgroup label="Washington">
                        <option>Seattle</option>
                        <option>Spokane</option>
                        <option>Tacoma</option>
                        <option>Vancouver</option>
                        <option>Bellevue</option>
                    </optgroup>
                    <optgroup label="West Virginia">
                        <option>Charleston</option>
                        <option>Huntington</option>
                        <option>Parkersburg</option>
                        <option>Morgantown</option>
                        <option>Wheeling</option>
                    </optgroup>
                    <optgroup label="Wisconsin">
                        <option>Milwaukee</option>
                        <option>Madison</option>
                        <option>Green Bay</option>
                        <option>Kenosha</option>
                        <option>Racine</option>
                    </optgroup>
                    <optgroup label="Wyoming">
                        <option>Cheyenne</option>
                        <option>Casper</option>
                        <option>Laramie</option>
                        <option>Gillette</option>
                        <option>Rock Springs</option>
                    </optgroup>
                </select>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //shop locator (popup) -->
        <!-- modals -->
        <!-- log in -->
        <!-- //modal -->
        <!-- //top-header -->
        <!-- header-bottom-->
        <!-- shop locator (popup) -->
        <!-- //header-bottom -->
        <!-- navigation -->
        <!-- //navigation -->
        <!-- banner-2 -->
        <div class="page-head_agile_info_w3l inner-contact-page">
            <div class="container py-5">
                <h3 class="title-style text-white pt-5"><span>Payment</span> Page</h3>
                <ul class="w3_short pt-3 pb-5">
                    <li>
                        <a href="index.html" class="text-white">Home</a>
                        <i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
                    </li>
                    <li class="text-light">Payment Page</li>
                </ul>
            </div>
        </div>
        <!-- //banner-2 -->
        <!-- page -->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

            </div>
        </div>
        <!-- //page -->


        <!---728x90--->
        </div>
        <!-- payment page-->
        <div class="privacy py-sm-5 py-5">
            <div class="container py-md-5 py-4">
                <!-- tittle heading -->
                <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">Payment</h3>
                <!-- //tittle heading -->
                <div class="checkout-right">
                    <!--Horizontal Tab-->
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1">
                            <li>Cash on the Branch</li>
                            <li>Credit/Debit</li>

                        </ul>
                        <div class="resp-tabs-container hor_1">

                            <div>
                                <div class="vertical_post check_box_agile">
                                    <h5>
                                        We also accept Cash on the Branch. Please Check with the
                                        Branch Agent.
                                    </h5>
                                    <div class="checkbox">
                                        <div class="check_box_one cashon_delivery">
                                          

                                        </div>
                                        <a href="@Url.Action("PayWithCash", "ApprovedPolicies", new { id = item.ApprovedPolicyPk })" class="btn btn-default"><span>Make a Payment</span></a>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <form action="payment.html#" method="post" class="creditly-card-form agileinfo_form">
                                    <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                                        <div class="credit-card-wrapper">
                                            <div class="first-row form-group">
                                                <div class="controls">
                                                    <label class="control-label">
                                                        We also accept Credit/Debit card on Payment.
                                                    </label>
                        
                                                </div>

                                            </div>
                                            <a href="@Url.Action("PayWithCard", "ApprovedPolicies", new { id = item.ApprovedPolicyPk })" class="btn btn-default"><span>Make a Payment</span></a>
                                            @*<a href="@Url.Action("PayWithCard", "ApprovedPolicies", new { id = item.ApprovedPolicyPk })" class="submit mt-3"><span>Make a Payment</span></a>*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                     
                        </div>
                    </div>
                    <!--Plug-in Initialisation-->
                </div>
            </div>
        </div>
        <!-- //payment page -->
        <!-- middle section -->

        <!-- footer -->
        <!-- payment -->
        <div class="sub-some child-momu mt-4">
            <h5 class="font-weight-bold mb-3">Payment Method</h5>
            <ul>
                <li>
                    <img src="~/assets/Payment/images/pay2.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/images/pay5.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/images/pay1.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/images/pay4.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/images/pay6.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/images/pay3.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/images/pay7.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/''images/pay8.png" alt="">
                </li>
                <li>
                    <img src="~/assets/Payment/images/pay9.png" alt="">
                </li>
            </ul>
        </div>
        <!-- //payment -->
        @*</div>
            </div>*@
        <!-- //footer fourth section (text) -->
        @*</footer>*@
        <!-- //footer -->
        <!-- copyright -->
        <!-- //copyright -->
        <!-- js-files -->
        <!-- common jquery plugin -->
        <script src="~/assets/Payment/js/jquery-3.3.1.min.js"></script>
        <!-- //common jquery plugin -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">

            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({
                    easingType: 'easeOutQuart'
                });

            });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- js -->
        <script src="~/assets/Payment/js/jquery-1.11.1.min.js"></script>
        <!-- //js -->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="~/assets/Payment/js/move-top.js"></script>
        <script type="text/javascript" src="~/assets/Payment/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                    }, 1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- nav smooth scroll -->
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                        $(this).toggleClass('open');
                    },
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                );
            });
        </script>
        <!-- //nav smooth scroll -->
        <!-- popup modal (for location)-->
        <script src="~/assets/Payment/js/jquery.magnific-popup.js"></script>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>
        <!-- //popup modal (for location)-->
        <!-- easy-responsive-tabs -->
        <link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css" />
        <script src="~/assets/Payment/js/easyResponsiveTabs.js"></script>

        <script>
            $(document).ready(function () {
                //Horizontal Tab
                $('#parentHorizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true, // 100% fit in a container
                    tabidentify: 'hor_1', // The tab groups identifier
                    activate: function (event) { // Callback function if tab is switched
                        var $tab = $(this);
                        var $info = $('#nested-tabInfo');
                        var $name = $('span', $info);
                        $name.text($tab.text());
                        $info.show();
                    }
                });
            });
        </script>
        <!-- //easy-responsive-tabs -->
        <!-- credit-card -->
        <script src="~/assets/Payment/js/creditly.js"></script>
        <link rel="stylesheet" href="css/creditly.css" type="text/css" media="all" />
        <script>
            $(function () {
                var creditly = Creditly.initialize(
                    '.creditly-wrapper .expiration-month-and-year',
                    '.creditly-wrapper .credit-card-number',
                    '.creditly-wrapper .security-code',
                    '.creditly-wrapper .card-type');


                $(".creditly-card-form .submit").click(function (e) {
                    e.preventDefault();
                    var output = creditly.validate();
                    if (output) {
                        // Your validated credit card output
                        console.log(output);
                    }
                });
            });
        </script>

        <!-- creditly2 (for paypal) -->
        <script src="~/assets/Payment/js/creditly2.js"></script>
        <script>
            $(function () {
                var creditly = Creditly2.initialize(
                    '.creditly-wrapper .expiration-month-and-year-2',
                    '.creditly-wrapper .credit-card-number-2',
                    '.creditly-wrapper .security-code-2',
                    '.creditly-wrapper .card-type');

                $(".creditly-card-form-2 .submit").click(function (e) {
                    e.preventDefault();
                    var output = creditly.validate();
                    if (output) {
                        // Your validated credit card output
                        console.log(output);
                    }
                });
            });
        </script>
        <!-- //credit-card -->
        <!-- cart-js -->
        <script src="~/assets/Payment/js/minicart.js"></script>
        <script>
            paypals.minicarts
                .render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

            paypals.minicarts.cart.on('checkout', function (evt) {
                var items = this.items(),
                    len = items.length,
                    total = 0,
                    i;

                // Count the number of each item in the cart
                for (i = 0; i < len; i++) {
                    total += items[i].get('quantity');
                }

                if (total < 3) {
                    alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                    evt.preventDefault();
                }
            });
        </script>
        <!-- //cart-js -->
        <!-- password-script -->
        <script>
            window.onload = function () {
                document.getElementById("password1").onchange = validatePassword;
                document.getElementById("password2").onchange = validatePassword;
            }

            function validatePassword() {
                var pass2 = document.getElementById("password2").value;
                var pass1 = document.getElementById("password1").value;
                if (pass1 != pass2)
                    document.getElementById("password2").setCustomValidity("Passwords Don't Match");
                else
                    document.getElementById("password2").setCustomValidity('');
                //empty string means no validation error
            }
        </script>
        <!-- //password-script -->
        <!-- theme switch js (light and dark)-->
        <script src="~/assets/Payment/js/theme-change.js"></script>
        <script>
            function autoType(elementClass, typingSpeed) {
                var thhis = $(elementClass);
                thhis.css({
                    "position": "relative",
                    "display": "inline-block"
                });
                thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
                thhis = thhis.find(".text-js");
                var text = thhis.text().trim().split('');
                var amntOfChars = text.length;
                var newString = "";
                thhis.text("|");
                setTimeout(function () {
                    thhis.css("opacity", 1);
                    thhis.prev().removeAttr("style");
                    thhis.text("");
                    for (var i = 0; i < amntOfChars; i++) {
                        (function (i, char) {
                            setTimeout(function () {
                                newString += char;
                                thhis.text(newString);
                            }, i * typingSpeed);
                        })(i + 1, text[i]);
                    }
                }, 1500);
            }

            $(document).ready(function () {
                // Now to start autoTyping just call the autoType function with the
                // class of outer div
                // The second paramter is the speed between each letter is typed.
                autoType(".type-js", 200);
            });
        </script>
        <!-- //theme switch js (light and dark)-->
        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- //disable body scroll which navbar is in active -->
        <!--bootstrap-->
        <script src="~/assets/Payment/js/bootstrap.min.js"></script>
        <!-- //bootstrap-->
        <!-- //Js scripts -->




        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>*@

    }








    <!DOCTYPE html>
    <html lang="en">




</html>



